@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 640px) {
   .latest{
    display: none;
   }
  .left-side{
   left: 25px;
  }
  .nav-lg{
    
    display: none;
    
  }

  .profile{
    display: flex;
    flex-direction: column-reverse;
    
  }
  .profile-btns{
    width: 200px;
    text-align: center;
    margin-left: 100px;
  }
  .details{
    transform: scale(0.7);
    margin-left: -50px;
  }

  .manage-book{
    width: 200px;
    transform: scale(0.8);
    margin-left: 12%;
    
  }
  .manage-box{
    align-items: center;
    justify-items: center;
  
  }
  }

  .modal,.modal-avatar {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid hsla(0, 0%, 37%, 0.514);
    width: 550px;
    scale: 1;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 2;
    padding: 20px 25px;
    border-radius: 20px;
  
    transition: 0.5s ease-in-out;
  }
  .overlay, .overlay-avatar{
    position: fixed;
    background-color: #0b0c0cdb;
    top: 0;
    opacity: 1;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: initial;
    transition: 0.5s ease-in-out;
  }

  .same-size{
    width: 100px;
    height: 100px;
  }
  .same-size:hover{
   cursor: pointer;
   border: 2px solid green; 
  }

 