@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;
=======
@tailwind utilities;

@media only screen and (max-width: 640px) {
   .latest{
    display: none;
   }
  .left-side{
   left: 25px;
  }
  .nav-lg{
    
    display: none;
    
  }
  }
>>>>>>> e162e1b832f429ce07a07224b00236557cda683d
